﻿@using Ticketing.OrchardModule.Infrastructure
@using Ticketing.OrchardModule.Models
@model Ticketing.OrchardModule.Models.SettingsPart
@{
    var dataAccessTypes = new List<SelectListItem>
    {
        new SelectListItem
        {
            Value = (DataAccessType.InMemory).ToString(),
            Text = "In memory",
            Selected = Model.DataAccessType == DataAccessType.InMemory
        },
        new SelectListItem
        {
            Value = (DataAccessType.NHibernate).ToString(),
            Text = "NHibernate",
            Selected = Model.DataAccessType == DataAccessType.NHibernate
        },
    };
}
<fieldset>
    <legend>@T("Settings")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.DataAccessType)">@T("Data access type")</label>
        @Html.DropDownList("DataAccessType", dataAccessTypes)
        @Html.ValidationMessage("DataAccessType", "*")
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ConnectionString)">@T("Connection string for ticketing database")</label>
        @Html.TextBoxFor(m => m.ConnectionString, new { @class = "textMedium" })
        @Html.ValidationMessage("ConnectionString", "*")
        <span class="hint">@T("ex. Data Source=(local);Initial Catalog=Ticketing;Integrated Security=true")</span>
    </div>
</fieldset>

