﻿@model Ticketing.OrchardModule.Controllers.ProjectsAdminController.CreateFormModel
@{
    Layout.Title = T("Add New Project");
}
@using (Html.BeginFormAntiForgeryPost())
{
    <div class="edit-item">
    <div class="edit-item-primary">
        <div class="edit-item-content">
            @Html.ValidationSummary()
            @Html.EditorFor(m => m.Command)
        </div>
    </div>
    <div class="edit-item-secondary group">
        <div class="edit-item-actions">
            <fieldset class="save-button">
                <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">Save</button>
            </fieldset>
        </div>
   </div>
</div>
}