﻿@model Ticketing.OrchardModule.Controllers.ProjectsAdminController.IndexViewModel
@{
    Layout.Title = T("Manage Projects");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset class="bulk-actions">
        <label for="bulkAction">@T("Actions:")</label>
        <select id="bulkAction" name="bulkAction">
            <option value="None">@T("Choose action...")</option>
            <option value="Terminate">@T("Terminate")</option>
        </select>
        <button type="submit" name="submit.BulkAction" value="yes">@T("Apply")</button>
        <button type="submit" name="submit.OtherAction" value="yes">@T("Other")</button>
    </fieldset>

    <div class="manage">@Html.ActionLink(T("Create project").ToString(), "CreateNew", new { }, new { @class = "button primaryAction" })</div>

    <fieldset>
        <table class="items" summary="@T("This is a table of the media folders currently available for use in your application.")">
            <colgroup>
                <col id="Col1" />
                <col id="Col2" />
                <col id="Col3" />
                <col id="Col4" />
                <col id="Col5" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">&nbsp;&darr;@{/* todo: (heskew) something more appropriate for "this applies to the bulk actions */ }</th>
                    <th scope="col">@T("Name")</th>
                    <th scope="col">@T("Owner")</th>
                    <th scope="col">@T("Status")</th>
                    <th scope="col">@T("Status Date")</th>
                </tr>
            </thead>
            @foreach (var item in Model.QueryResult.PageOfItems) {
            <tr>
                <td><input type="checkbox" value="@item.ProjectId" name="ids"/></td>
                <td>@item.Name</td>
                <td>@item.Owner</td>
                <td>@item.State</td>
                <td>@item.StateDate</td>
            </tr>
            }
        </table>
    </fieldset>
	}